@using VoltProjects.Server.Models.Searching
@model VoltProjects.Server.Models.View.SearchViewModel

@{
    ViewBag.Title = "Search";
    ViewBag.Description = "Search across Volt Project documentation";
}

<form class="container layout layout-article" method="get" id="search-form" novalidate>
    <nav class="layout-toc">
        <div class="sticky-top navbar-expand-lg">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toc-pannel" aria-controls="toc-pannel" aria-expanded="false" type="button">
                Filters
            </button>
            <div class="collapse navbar-collapse" id="toc-pannel">
                <h5>Filters</h5>
                <div class="mt-2">
                    <label asp-for="Project" class="form-label">Project</label>
                    <select id="Project" name="project" class="form-select" asp-for="Project" asp-items="@(new SelectList(Model.Projects.SelectMany(x => x.ProjectVersions).Select(x => new { Id = $"{x.ProjectId}|{x.Id}", Name = $"{x.Project.Name} - {x.VersionTag}" }), "Id", "Name"))">
                        <option value="">Please Select an Option</option>
                    </select>
                </div>
            </div>
        </div>
    </nav>

    <article>
        <div class="mb-3">
            <div class="d-flex">
                <input asp-for="Query" type="text" class="form-control me-2" name="query" placeholder="Search..." aria-label="Search">
                <button type="submit" class="btn btn-primary d-flex" aria-label="Submit Search">
                    <span class="bi bi-search me-1"></span>
                    Search
                </button>
            </div>
            <span asp-validation-for="Query" class="invalid-feedback"></span>

            <div id="results">
                @if (Model.SearchResult != null)
                {
                    <h2 class="pt-4">Search Results</h2>
                    @if (Model.SearchResult.TotalItemCount < 1)
                    {
                        <h4 class="pt-1">No results were found using that search criteria.</h4>
                    }
                    else
                    {
                        <div class="row gap-3">
                            @foreach (SearchResult page in Model.SearchResult.Items)
                            {
                                <div class="col-12">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <span class="d-block">
                                                    @(page.Title)
                                                </span>
                                                <div>
                                                    <span class="badge text-bg-secondary">
                                                        Project: @(page.ProjectDisplayName)
                                                    </span>
                                                    <span class="badge text-bg-secondary">
                                                        Version: @(page.ProjectVersion)
                                                    </span>
                                                </div>
                                            </h5>

                                            <p class="card-text">
                                                @Html.Raw(page.Headline))
                                            </p>

                                            <a href="/@(page.ProjectName)/@(page.ProjectVersion)/@(page.Path)" class="btn btn-primary">View Page</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        
                        @* Pagination Controls *@
                        <div class="mt-4 d-flex" paged-count="@Model.SearchResult" base-url="/search/">
                        </div>
                    }
                }
                else
                {
                    <h4 class="pt-4">Enter a criteria to start searching.</h4>
                }
            </div>
        </div>
    </article>
</form>
