@using VoltProjects.Server.Shared
@using VoltProjects.Server.Shared.Helpers
@{
  string pageTitle = $"{ViewBag.Title} - VoltProjects";
}
<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="@ViewBag.Description">
<meta name="keywords" content="Voltstro,Voltstro-Studios,Docs,Documentation">
<!-- Social Media Tags -->
<meta name="og:type" content="website" />
<meta name="og:title" content="@pageTitle" />
<meta name="og:description" content="@ViewBag.Description" />
<meta name="og:image" content="https://projects.voltstro.dev/icon.png" />
<meta name="og:image:alt" content="VoltProject's Icon" />

<!-- Links & other stuff -->
<title>@pageTitle</title>
<link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
<link rel="stylesheet" href="~/dist/main.css" />
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" asp-controller="Main" asp-action="Index">Volt Projects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">
          <li>
            <a class="nav-link @Html.ActiveClass("Main", "About")" asp-controller="Main" asp-action="About">About</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="https://github.com/Voltstro/VoltProjects">
              <span class="bi bi-github"></span>
              <span class="d-md-none">GitHub</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="https://twitter.com/Voltstro">
              <span class="bi bi-twitter"></span>
              <span class="d-md-none">Twitter</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="https://discord.voltstro.dev">
              <span class="bi bi-discord"></span>
              <span class="d-md-none">Discord</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  @RenderBody()
</main>
<footer>
  <div class="container-xxl justify-content-between align-items-center">
    <span class="col-md-4 d-flex align-items-center">Copyright (c) 2022 Voltstro</span>
    <span class="col-md-4 justify-content-end text-end text-muted">
      @(Versioning.Version) - 
      <a class="text-muted text-decoration-none"
         href="@($"https://github.com/Voltstro/VoltProjects/commit/{Versioning.GitHashFull}")">
        @Versioning.GitHashSmall
      </a>
    </span>
  </div>
</footer>
<script type="text/javascript" src="~/dist/main.js" defer></script>
<script type="text/javascript" src="~/dist/hero.js" defer></script>
</body>
</html>