@model VoltProjects.Server.Models.View.ProjectViewModel

@{
    ViewBag.Title = $"{Model.ProjectPage.Title} - {Model.ProjectPage.ProjectVersion.Project.DisplayName}";
    ViewBag.Description = Model.ProjectPage.Description;
}

@section TopInclude
{
    <meta name="vpProjectId" content="@Model.ProjectPage.ProjectVersion.ProjectId" />
    <meta name="vpProjectVersionId" content="@Model.ProjectPage.ProjectVersionId" />
}

@section NavbarSecond
{
    <partial name="Shared/ProjectNav" model="Model.ProjectNavModel"/>
}

<div class="container layout @(Model.ProjectPage is { Aside: true } ? "layout-article" : "") @(Model.ProjectPage.Aside && Model.TocItems == null ? "layout-aside" : "")">
    @if (Model.TocItems != null)
    {
        <partial name="Shared/ProjectToc" model="Model.TocItems"/>
    }
    
    <article id="article">
        <partial name="Shared/ProjectHeader" model="Model.ProjectHeaderModel"/>
        <!-- Project Page Content -->
        @Html.Raw(Model.ProjectPage.Content)
    </article>
    
    @if (Model.ProjectPage.Aside)
    {
        <aside>
            <div class="sticky-top">
                <nav id="in-this-article" class="in-this-article"></nav>
            </div>
        </aside>
    }
</div>

