@using VoltProjects.Shared.Models
@model VoltProjects.Server.Models.View.Admin.ProjectsPageModel
@{
    ViewBag.Title = "Projects";
}

<div class="container pt-4">
    <div class="card">
        <div class="card-header">
            <div class="d-flex">
                <h5 class="m-0 fw-bold align-content-center">Project List</h5>
                <a asp-route="AdminProjectNew" class="btn btn-primary ms-auto">New</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">Git URL</th>
                    <th scope="col">Published</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (Project project in Model.Projects.Items)
                {
                    <tr>
                        <th scope="row">@project.Id</th>
                        <td>@project.Name</td>
                        <td>@project.DisplayName</td>
                        <td><a href="@project.GitUrl" target="_blank">@project.GitUrl <i class="bi bi-box-arrow-up-right"></i></a></td>
                        <td><partial name="Shared/BoolIcon" model="@project.Published"/></td>
                        <td><a asp-controller="Admin" asp-action="Project" asp-route-id="@project.Id" class="btn btn-primary float-end">Edit</a></td>
                    </tr>
                }
                </tbody>
            </table>
            
            @* Pagination Controls *@
            <div class="mt-4 d-flex" paged-count="@Model.Projects" base-url="/admin/projects/">
            </div>
        </div>
    </div>
</div>

