@using VoltProjects.Server.Models
@using VoltProjects.Server.Shared.Helpers
@model List<VoltProjects.Server.Models.TocItem>

@{
    void RenderToc(List<TocItem> tocItems)
    {
        foreach (TocItem tocItem in tocItems)
        {
            <li @(Html.Attr("class", "active", () => tocItem.IsActive))>
                <a class="@(tocItem.IsActive ? "active" : "")" href="@tocItem.Href">
                    @if (tocItem.Items != null)
                    {
                        <i class="toggle">
                            <svg width="16" height="16" viewBox="0 0 16 16">
                                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 14l6-6-6-6"></path>
                            </svg>
                        </i>
                    }
                    @tocItem.Title
                </a>
                @if (tocItem.Items != null)
                {
                    <ul @(Html.Attr("class", "active", () => tocItem.IsActive))>
                        @{
                            RenderToc(tocItem.Items);
                        }
                    </ul>
                }
            </li>
        }
    }
}

<nav class="layout-toc">
    <div class="sticky-top pt-2 navbar-expand-lg">
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toc-pannel" aria-controls="toc-pannel" aria-expanded="false">
            Table of Contents
        </button>
        <div class="collapse navbar-collapse" id="toc-pannel">
            <div>
                <div class="position-relative filter shadow-sm">
                    <i class="bi bi-funnel position-absolute filter-icon"></i>
                    <input class="form-control filter-control" type="text" id="toc-filter" placeholder="Filter" aria-label="Filter">
                </div>
                        
                <div class="toc" id="toc">
                    <ul>
                        @{
                            RenderToc(Model);
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>