@using Microsoft.AspNetCore.Mvc.TagHelpers
@using VoltProjects.Server.Shared.Helpers
@using VoltProjects.Shared.Models
@model VoltProjects.Server.Models.View.ProjectHeaderModel

@{
    string baseProjectPath = $"/{Model.ProjectPage.ProjectVersion.Project.Name}/{Model.ProjectPage.ProjectVersion.VersionTag}/";
}

@if (Model.ProjectPage.TitleDisplay)
{
    <div class="d-inline-flex w-100">
        @if (Model.ProjectPage.Breadcrumbs.Count > 0)
        {
            /* Breadcrumbs */
            <div class="me-auto d-block">
                <div>
                    <nav aria-label="breadcrumb" class="">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="bi bi-house-door-fill" href="@(baseProjectPath)" title="Project Home Page"></a>
                            </li>

                            @for (int i = 0; i < Model.ProjectPage.Breadcrumbs.Count; i++)
                            {
                                ProjectPageBreadcrumb breadcrumb = Model.ProjectPage.Breadcrumbs[i];
                                bool lastItem = i == Model.ProjectPage.Breadcrumbs.Count - 1;
                                @:<li class="breadcrumb-item @(lastItem ? "active" : string.Empty)" @Html.Attr("aria-current", "page", () => lastItem)>
                                @if (!lastItem && !string.IsNullOrWhiteSpace(breadcrumb.Href))
                                {
                                    <a href="@baseProjectPath@breadcrumb.Href">@breadcrumb.Title</a>
                                }
                                else
                                {
                                    @breadcrumb.Title
                                }

                                @:</li>
                            }
                        </ol >
                    </nav>
                </div>
            </div>
        }
        
        <div class="d-flex pt-1 d-print-none">
            @if (Model.ProjectPage.GitUrl != null)
            {
                <a class="btn btn-outline btn-sm d-flex me-1" href="@Model.ProjectPage.GitUrl" style="height: 35px" title="Edit this Document">
                    <i class="bi bi-pencil-fill" style="padding-top: 3px"></i>
                </a>
            }

            <div class="dropdown d-flex">
                <button class="btn btn-outline btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 35px">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item bi bi-printer-fill" onclick="window.print()"> Print</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a
                            class="dropdown-item bi bi-twitter-x"
                            href="https://x.com/intent/tweet?text=@(Html.UrlEncoder.Encode($"Check out this!"))&url=@(Html.UrlEncoder.Encode(Model.PageFullUrl.ToString()))"
                            target="_blank" rel="noopener noreferrer"> Share on X</a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item bi bi-envelope-fill"
                            href="mailto:?subject=@(Html.UrlEncoder.Encode($"{Model.ProjectPage.Title} - {Model.ProjectPage.ProjectVersion.Project.Name} | VoltProjects"))&body=@(Html.UrlEncoder.Encode($"Check out this! {Model.PageFullUrl.ToString()}"))"> Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <h1 class="d-block">@Model.ProjectPage.Title</h1>
    <partial name="Shared/ProjectMetabar" model="Model.ProjectPage"/>
}